<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taxicaraubas.chamataxi">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" /> </queries>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.taxicaraubas.chamataxi.politicaDePrivacidade" />
        <activity android:name="com.taxicaraubas.chamataxi.telaInicial" />
        <activity android:name="com.taxicaraubas.chamataxi.verPassageiro" />
        <activity
            android:name="com.taxicaraubas.chamataxi.configuracoesMotorista"
            android:parentActivityName="com.taxicaraubas.chamataxi.motorista" />
        <activity
            android:name="com.taxicaraubas.chamataxi.gerenciarMotorista"
            android:parentActivityName="com.taxicaraubas.chamataxi.motorista" />
        <activity
            android:name="com.taxicaraubas.chamataxi.configuracoes"
            android:parentActivityName="com.taxicaraubas.chamataxi.pedirCarro" />
        <activity android:name="com.taxicaraubas.chamataxi.login" />
        <activity android:name="com.taxicaraubas.chamataxi.SalaDeEspera" />
        <activity
            android:name="com.taxicaraubas.chamataxi.novoMotorista"
            android:parentActivityName="com.taxicaraubas.chamataxi.administrador" />
        <activity android:name="com.taxicaraubas.chamataxi.administrador" />
        <activity
            android:name="com.taxicaraubas.chamataxi.pedirCarro"
            android:parentActivityName="com.taxicaraubas.chamataxi.telaInicial" />
        <activity
            android:name="com.taxicaraubas.chamataxi.cadastrarUsuario"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taxicaraubas.chamataxi.passageiro"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taxicaraubas.chamataxi.lotacaoCarro"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.taxicaraubas.chamataxi.listaPassageiros" />
        </activity>
        <activity
            android:name="com.taxicaraubas.chamataxi.listaPassageiros"
            android:parentActivityName="com.taxicaraubas.chamataxi.motorista"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.taxicaraubas.chamataxi.motorista" />
        </activity>
        <activity
            android:name="com.taxicaraubas.chamataxi.motorista"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.taxicaraubas.chamataxi.motoristaEscolher" />
        </activity>
        <activity android:name="com.taxicaraubas.chamataxi.motoristaEscolher" />
        <activity
            android:name="com.taxicaraubas.chamataxi.listaMotorista"
            android:parentActivityName="com.taxicaraubas.chamataxi.pedirCarro" />
        <activity
            android:name="com.taxicaraubas.chamataxi.MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            android:exported="false"
            android:initOrder="100" />
    </application>

</manifest>